.main {
    height: 100vh;
    display: flex;
    position: relative;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    background-color: #faf6f7;

    .loginButton {
        position: absolute;
        right: 30px;
        top: 10px;
        padding: 0 50px;
        height: 44px;
        line-height: 44px;
        transition: 300ms;
        z-index: 1;
        background-color: var(--color-1);
        border-radius: 10px;
        color: #ffffff;
        font-weight: 600;

        &:hover {
            opacity: 0.8;
        }
    }

    .leftDiode,
    .rightDiode {
        position: absolute;
        top: 2px;
        height: auto;
        width: 250px;
    }

    .leftDiode {
        left: 0px;
    }

    .rightDiode {
        right: 0px;
    }

    .logo {
        text-align: center;
        padding-top: 30px;

        h3 {
            // font-weight: 200;
            color: var(--color-1);
        }
    }

    .getStarted {
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/assets/landing/dash/waves-asset 1.png');

        section {
            h5 {
                font-size: 1.6rem;
                font-weight: 100;
                margin-bottom: 20px;
            }

            a {
                color: var(--bg-color-3);
                text-decoration: underline;
            }

            img {
                height: 200px;
                object-fit: contain;
            }

            &:first-child {
                text-align: start;

                a {
                    margin-top: -30px;
                    margin-left: 30px;
                    display: block;
                }
            }

            &:nth-child(2) {
                img {
                    scale: 1.1;
                }
            }

            &:last-child {
                display: flex;
                text-align: end;
                justify-content: flex-end;
                flex-direction: column;

                a {
                    display: block;
                    text-align: start;
                }
            }
        }
    }

    .info {
        padding: 0 30px;

        p,
        h5 {
            margin: 0;
        }

        .job_seeker {
            gap: 5px;
            display: grid;
            margin: 0 auto;
            width: max-content;
            place-items: center;
            padding-bottom: 20px;

            h5 {
                font-size: 1.6rem;
                font-weight: 100;
            }

            img {
                height: 70px;
                object-fit: contain;
            }

            a {
                display: block;
                color: var(--bg-color-3);
                text-decoration: underline;
            }
        }

        .wrapper {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(6, 1fr);

            &>div {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                padding: 15px 25px;
                text-align: center;
                align-items: center;
                border-radius: 1rem;
                background-color: #f6f6f6;
                border: var(--border);
                // justify-content: space-between;

                .image_box {
                    position: relative;
                    height: 40px;
                    width: 40px;

                    img {
                        object-fit: contain;
                    }
                }

                p {
                    margin-bottom: 6px;
                }

                h5 {
                    font-weight: 600;
                }
            }
        }
    }
}