.title_bar {
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 20px;
  justify-content: space-between;

  .title {
      color: var(--text-color-1);
      font-size: 1.25rem;
      font-weight: 500;
  }

  button {
      border-radius: 0.625rem;
      background: #e56846;
      border: 0;
      color: var(--white);
      padding: 12px 10px;
  }
}

.left_column {
  min-height: 200px;
  border-radius: 20px;
  border: 1px solid #e7e7e7;

  .card {
      .header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px 10px;

          .name {
              color: var(--text-color-2);

              font-size: 16px;

              font-weight: 500;
          }

          .favourite_section {
              display: flex;
              gap: 10px;
              align-items: center;
              justify-content: space-between;

              i {
                  cursor: pointer;
              }

              :global(.heart) {
                  color: red;
                  font-size: 20px;
              }
          }
      }

      .body {
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .name_box {
              height: 60px;
              background: #dc9d3e;
              width: 60px;
              border-radius: 50px;
              display: grid;
              place-items: center;
              color: #fff;

              font-size: 20px;

              font-weight: 500;
          }

          .name {
              color: var(--text-color-2);

              font-size: 20px;

              font-weight: 500;
          }

          .title {
              color: #bbb;

              font-size: 16px;

              font-weight: 500;
          }

          .action_section {
              display: flex;
              gap: 20px;
              align-items: center;

              .box {
                  display: grid;
                  place-items: center;
                  height: 40px;
                  width: 40px;
                  border-radius: 50%;
                  border: 1px solid #e1e1e1;
                  cursor: pointer;

                  img {
                      position: relative;
                  }
              }
          }

          .move_to_button {
              display: block;
              background: rgba(229, 141, 117, 1);
              width: 90%;
              border-radius: 10px;
              background: #e58d75;
              padding: 15px 0;
              color: var(--white);
          }

          .last_activity {
              color: #808080;

              font-size: 12px;

              font-weight: 700;

              display: flex;
              align-items: center;
              gap: 10px;

              margin-bottom: 10px;

              span {
                  display: inline-block;
                  height: 5px;
                  width: 5px;
                  border-radius: 50%;
                  background: #00d03a;
              }

              .greenDot {
                  width: 10px;
                  height: 10px;
                  background-color: green;
                  border-radius: 50%;
                  display: inline-block;
                  margin-right: 3px;
              }

              .redDot {
                  width: 10px;
                  height: 10px;
                  background-color: red;
                  border-radius: 50%;
                  display: inline-block;
                  margin-right: 5px;
              }
          }
      }
  }

  .tabs {
      ul {
          display: grid;
          grid-template-columns: 1fr 1fr;

          :global(.p-tabview-ink-bar) {
              background: #545454;
          }

          a {
              color: var(--text-color-2) !important;

              font-size: 16px;

              font-weight: 500;

              // . {
              //     color: ;
              // }

              &:focus {
                  box-shadow: none !important;
              }
          }
      }

      .tabs_body {
          color: var(--text-color-1);

          font-size: 14px;

          font-weight: 500;

          label {
              display: block;
              color: #9f9f9f;

              font-size: 14px;

              font-weight: 500;

              margin: 10px 0;
          }
      }
  }
}

.right_column {
  .search_bar {
      position: relative;

      input {
          border: 0;
          width: 100%;
          padding: 10px;
          padding-left: 30px;
          border-bottom: 1px solid #dfdfdf;

          &:focus-visible {
              outline: none;
          }

          &::placeholder {
              color: #ccc;

              font-size: 16px;

              font-weight: 500;
          }
      }

      i {
          position: absolute;
          left: 5px;
          color: #dfdfdf;
          bottom: 12px;
      }
  }

  .tabs {
      margin: 20px 0;
      border-radius: 8px;
      padding: 5px;
      background: rgba(238, 238, 238, 1);

      span {
          display: inline-flex;
          align-items: center;
          border-radius: 8px;
          padding: 10px;
          gap: 5px;
          cursor: pointer;
          margin-right: 5px;
          transition: 0.2s all;

          &.active {
              background: #fff;
          }

          img {
              height: 20px;
              width: 20px;
          }
      }
  }

  .filter_by {
      display: flex;
      align-items: center;
      gap: 20px;

      label {
          color: #a6a6a6;

          font-size: 16px;

          font-weight: 500;
      }
  }

  .details_section {
      margin-top: 20px;

      :global(.p-accordion-tab) {
          box-shadow: none;

          :global(.p-accordion-header.removeHeaderCss) {
              width: max-content;
              margin-top: 20px;

              &:hover,
              &:focus,
              &:focus-visible {
                  a {
                      box-shadow: none !important;
                      background: #fff !important;
                  }
              }

              a {
                  position: relative;
                  padding: 0 20px 0 0 !important;
                  width: max-content;
                  border: 0;
                  background: #fff;

                  &:hover,
                  &:focus,
                  &:focus-visible {
                      box-shadow: none !important;
                      background: #fff !important;
                  }

                  svg {
                      position: absolute;
                      right: -10px;
                  }
              }
          }

          :global(.p-accordion-content) {
              border: 0;
          }
      }

      :global(.p-timeline-event-opposite) {
          display: none;
      }

      :global(.p-timeline-event-content) {
          background: rgba(243, 243, 243, 1);
          padding: 10px;
          margin-left: 10px;
          border-radius: 8px;
          margin-bottom: 20px;
          margin-top: -10px;
      }

      :global(.p-timeline-event-marker) {
          background: rgba(243, 243, 243, 1);
          border: 2px solid rgba(100, 100, 100, 1);
      }
  }
}

.wrapper {
  background: var(--surface-card);
  border: 1px solid var(--surface-border);
  padding: 1rem;
  margin-bottom: 2rem;
  // box-shadow: var(--shadow-1);
  border-radius: 12px;

  .search_bar {
      position: relative;

      input {
          border: 0;
          width: 100%;
          padding: 10px;
          padding-left: 30px;
          border-bottom: 1px solid #dfdfdf;

          &:focus-visible {
              outline: none;
          }

          &::placeholder {
              color: #ccc;

              font-size: 16px;

              font-weight: 500;
          }
      }

      i {
          position: absolute;
          left: 5px;
          color: #dfdfdf;
          bottom: 12px;
      }
  }

  .tabs {
      margin: 1rem 0;

      :global(.p-tabview-nav) {
          border: 0;
          padding: 5px;
          border-radius: 8px;
          background: rgba(238, 238, 238, 1);

          li {
              &:global(.p-highlight) {
                  background-color: #fff;
                  border-radius: 8px;
              }

              &:global(.p-tabview-ink-bar) {
                  display: none;
              }

              div {
                  cursor: pointer;
                  padding: 10px;
              }
          }
      }

      :global(.p-tabview-panels) {
          padding: 1rem 0 0 0 !important;
      }

      .filter_row {
          display: flex;
          align-items: center;
          gap: 20px;

          label {
              color: var(--text-light);
              font-size: 1rem;
              font-weight: 500;
          }
      }

      .new{
          display: flex;
          justify-content: flex-end;
          margin-bottom: 1rem;
      }

      .panel {
          margin-bottom: 1rem;  // Apply margin-bottom here
          .summary{
              font-weight: bold;
          }
        }
        

      .notes {
          margin-top: 20px;
          display: grid;
          gap: 20px;
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

          :global(.p-component) {
              margin-bottom: 1rem;
          }

          .card {
              display: grid;
              gap: 10px;
              // place-items: center;
              position: relative;
              background: #ffffff;
              border: var(--border);
              padding: 1rem 0 0 0;
              border-radius: 12px;
              overflow: hidden;
          }

          .add-card-button {
              margin-top: 1rem;
              /* Space above the Add Card button */
          }

          .newNoteForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            /* Adjust the gap as needed */
            // margin-top: 10px;
          }

          .inputGroup {
              margin-top: 0.5rem;
              padding-left: 5px;
              padding-right: 5px;
              margin-bottom: 1rem;

          }

          .checkboxGroup {
              display: flex;
              justify-content: space-between;
              margin-top: 0.5rem;
              padding: 5px;
          }

          .checkboxWrapper {
              margin-top: 1rem;
          }

          .button {
              margin-top: 1rem;
              width: 100%;
          }

      }


      .activity {
          margin-top: 1rem;

          .noActivityMessage {
              font-size: 16px;
              /* Adjust the font size */
              color: #c43b3b;
              /* A neutral gray color for the message text */
              text-align: center;
              /* Center the text */
              padding: 20px;
              /* Add some padding around the message */
              background-color: #f9f9f9;
              /* A light background color for emphasis */
              border: 1px solid #ddd;
              /* A subtle border to distinguish the message area */
              border-radius: 8px;
              /* Rounded corners for a softer look */
              margin-top: 20px;
              /* Space above the message */
          }

          :global(.p-accordion-tab) {
              box-shadow: none;
              margin-bottom: 1rem;

              // :global(.p-accordion-header) {
              //     width: max-content;
              //     margin-top: 20px;

              //     &:hover,
              //     &:focus,
              //     &:focus-visible {
              //         a {
              //             box-shadow: none !important;
              //             background: #fff !important;
              //         }
              //     }

              //     a {
              //         position: relative;
              //         padding: 0 20px 0 0 !important;
              //         width: max-content;
              //         border: 0;
              //         background: #fff;

              //         &:hover,
              //         &:focus,
              //         &:focus-visible {
              //             box-shadow: none !important;
              //             background: #fff !important;
              //         }

              //         svg {
              //             position: absolute;
              //             right: -10px;
              //         }
              //     }
              // }

              :global(.p-accordion-header) {
                  &:gloabl(.p-accordion-header-link) {
                      border: var(--border);
                      border-bottom: 0;
                  }
              }

              :global(.p-accordion-content) {
                  padding-top: 1.7rem;
                  border: var(--border);
                  border-top: 0;
              }
          }

          :global(.p-timeline-event-opposite) {
              display: none;
          }

          :global(.p-timeline-event-content) {
              background: rgba(243, 243, 243, 1);
              padding: 10px;
              margin-left: 10px;
              border-radius: 8px;
              margin-bottom: 20px;
              margin-top: -10px;
          }

          :global(.p-timeline-event-marker) {
              background: rgba(243, 243, 243, 1);
              border: 2px solid rgba(100, 100, 100, 1);
          }
      }

      .profile {
          margin-bottom: 1rem;
          border-radius: 12px;
          border: var(--border);

          .card {
              .body {
                  display: flex;
                  gap: 10px;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;

                  .name_box {
                      width: 60px;
                      height: 60px;
                      display: grid;
                      color: #fff;
                      place-items: center;
                      border-radius: 50px;
                      background: #dc9d3e;
                      font-size: 1.2rem;
                      font-weight: 500;
                  }

                  .name {
                      color: var(--text-color-2);
                      font-size: 20px;
                      font-weight: 500;
                  }

                  .title {
                      color: #bbb;
                      font-size: 1rem;
                      font-weight: 500;
                  }

                  button {
                      width: 100%;
                  }

                  .last_activity {
                      gap: 10px;
                      display: flex;
                      align-items: center;
                      font-size: 0.9rem;
                      font-weight: 700;
                      margin-bottom: 10px;
                      color: var(--text-color-1);

                      span {
                          display: inline-block;
                          height: 5px;
                          width: 5px;
                          border-radius: 50%;
                          background: #00d03a;
                      }
                  }
              }
          }

          .profile_tabs {
              ul {
                  background: transparent;
                  display: grid;
                  grid-template-columns: 1fr 1fr;

                  :global(.tabview-nav-link) {
                      border-color: var(--color-2) !important;
                  }

                  a {
                      font-size: 1rem;
                      font-weight: 500;
                      color: var(--text-color-2) !important;

                      &:focus {
                          box-shadow: none !important;
                      }
                  }
              }

              .tabs_body {
                  font-weight: 500;
                  font-size: 0.9rem;
                  padding: 0 1rem 1rem 1rem;
                  color: var(--text-color-1);

                  label {
                      display: block;
                      color: #9f9f9f;
                      font-size: 14px;
                      font-weight: 500;
                      margin: 10px 0;
                  }
              }
          }
      }
  }
}

.noTaskMessage {
  font-size: 16px;
  /* Adjust the font size */
  color: #c43b3b;
  /* A neutral gray color for the message text */
  text-align: center;
  /* Center the text */
  padding: 20px;
  /* Add some padding around the message */
  background-color: #f9f9f9;
  /* A light background color for emphasis */
  border: 1px solid #ddd;
  /* A subtle border to distinguish the message area */
  border-radius: 8px;
  /* Rounded corners for a softer look */
  margin-top: 20px;
  /* Space above the message */
}
