$font-1: 12px;
$font-2: 14px;
$font-3: 16px;
$color-1: #152838;
$color-2: #818181;
$bg: #f0f0f0;

.Recruiter_Form {
    background-color: $bg;
    padding: 22px 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 26px;

    > h5,
    h4,
    h3,
    h2,
    p,
    label {
        margin: 0;
        padding: 0;
    }

    .headline {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 10px;

        h4 {
            font-size: $font-3;
            color: #152838;
            font-weight: 600;
            white-space: nowrap;
        }

        span {
            position: relative;
            top: 1px;
            background-color: #999999;
            height: 1px;
            width: 100%;
        }
    }

    .job_details {
        color: $color-1;
        display: flex;
        flex-direction: column;
        gap: 20px;

        label,
        h4,
        h5,
        a {
            font-size: $font-3;
        }

        p {
            color: $color-2;
            font-size: $font-2;
        }
    }
}

.slider {
    bottom: 5px;
    :global(.rc-slider-rail) {
        background-color: #dadada;
        height: 7px;
    }
    :global(.rc-slider-track) {
        background-color: #dadada;
    }
    :global(.rc-slider-mark-text) {
        margin-top: 6px;
    }
    :global(.rc-slider-dot) {
        width: 2px;
        height: 15px;
        bottom: -7px;
        border-radius: 0;
        border-color: #cbcbcb;
    }
    :global(.rc-slider-handle) {
        width: 29px;
        height: 29px;
        margin-top: -12px;
        background-color: #e56846;
        border: solid 0px #96dbfa;
        border-radius: 50%;
        opacity: 1;
    }
}
