.tableWrapper {
    margin-top: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    .actionIcons {
        display: flex;
        align-items: center;
        cursor: pointer;

        i {
            font-size: 1.2rem;
            color: #333;
            margin-left: 8px;
        }

        i:hover {
            color: #000;
        }
    }
}